<configuration>

    <property name="HOME_LOG" value="/Users/mac/Desktop/PogrebM/app.log"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>


        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${HOME_LOG}/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <totalSizeCap>1GB</totalSizeCap>
        <maxHistory>60</maxHistory>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройки логгера по умолчанию -->
    <root level="error">
        <appender-ref ref="FILE"/>
    </root>

    <root level="info">
        <appender-ref ref="FILE"/>
    </root>

    <!-- Настройки для каждого уровня -->
    <logger name="ru.Meredov.PogrebM" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>